*, body {
font-family: "Montserrat", sans-serif;
font-weight: 600;
} 
.fw-9 {font-weight: 900;}
.fw-8 {font-weight: 800;}
.fw-7 {font-weight: 700;}
.fw-6 {font-weight: 600;}
.fw-5 {font-weight: 500;}
.fw-4 {font-weight: 400;}
.fw-3 {font-weight: 300;}
.fw-2 {font-weight: 200;}
.fw-1 {font-weight: 100;}

.border-yellow {
    border-left: 3px #f0bc5e solid;
}

input ['text'] {background: red;}
input ['submit'] {background: yellow;}

ul {
    list-style: none;
    padding: 0px;
}
li {
    background: url(img/tick.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 50px;
}

img:hover {
    transform: scale(1.2);
    transition: 1s;
}
img {
    transition: 1s;
}
.bg-fon1 {
    background: url(img/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-fon2 {
    background: url(img/LP-TradingBook_08_00.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div {border: 1px red solid;}
.img {
    width: 100px;
    height: 100px;
}

